{% extends 'Dashboard/main.html' %}
{% block content %}


  <main id="main" class="main">

    <div class="pagetitle">
      <h1> Ajouter une intervention</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Acceuil</a></li>
          <li class="breadcrumb-item">Form</li>
          <li class="breadcrumb-item active">Ajouter un client</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Ajouter un client</h5>

              <!-- General Form Elements -->
              <form method="post" action="{% url 'ajouter_client' %}" >
                {% csrf_token %}
                <div class="row mb-3">
                  <label  class="col-sm-3 col-form-label">Nom de Client</label>
                  <div class="col-sm-8">
                    <input type="text"  name="Nom_Client" class="form-control">
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-sm-3 col-form-label">Ville</label>
                  <div class="col-sm-8">
                    <input type="text"  name="Ville" class="form-control">
                  </div>
                </div>
                <div class="row mb-3">
                  <label  class="col-sm-3 col-form-label">Email</label>
                  <div class="col-sm-8">
                    <input type="email" name="Email" class="form-control">
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-sm-3 col-form-label">Numéro de Téléphone</label>
                  <div class="col-sm-8">
                    <input type="text" name="Numéro" class="form-control">
                  </div>
                </div>

                <div class="row mb-3">
                  <label  class="col-sm-3 col-form-label">Addresse</label>
                  <div class="col-sm-8">
                    <textarea class="form-control"  name="Address" style="height: 100px"></textarea>
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-sm-3 col-form-label">Code postal</label>
                  <div class="col-sm-8">
                    <input type="text"  name="Code_postal" class="form-control">
                  </div>
                </div>




                <div class="row mb-3">
                  <label class="col-sm-3 col-form-label"> Ajouter</label>
                  <div class="col-sm-8">
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                  </div>
                </div>

              </form><!-- End General Form Elements -->

            </div>
          </div>

        </div>

      </div>
    </section>

  </main><!-- End #main -->

{% endblock content %}