{% extends 'Dashboard/main.html' %}
{% block content %}


  <main id="main" class="main">

    <div class="pagetitle">
      <h1>interventions - Détail</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Acceuil</a></li>
          <li class="breadcrumb-item">interventions</li>
          <li class="breadcrumb-item active">Détail</li>
        </ol>
        <a href="{% url 'Edit_intervention'  int.id %}"><button type="button" class="btn btn-secondary btn-sm" >Modifier</button> </a>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-6">

        <div class="card">
  <div class="card-body">
    <h5 class="card-title">Intervention #{{int.id}}</h5>

    <div class="form-group mb-3">
      <label for="client">Client:</label>
      <input type="text" class="form-control" id="client" value="{{int.Nom_Client}}" readonly>
    </div>

    <div class="form-group mb-3">
      <label for="date">Date:</label>
      <input type="text" class="form-control" id="date" value="{{int.Date_Ajouté}}" readonly>
    </div>

    <!-- Ajoutez la classe 'mb-3' aux autres form-group pour l'espace entre les groupes -->

    <div class="form-group mb-3">
      <label for="adresse">Adresse:</label>
      <input type="text" class="form-control" id="adresse" value="{{int.Address}}" readonly>
    </div>

    <div class="form-group mb-3">
      <label for="codePostal">Code postal:</label>
      <input type="text" class="form-control" id="codePostal" value="{{int.Code_postal}}" readonly>
    </div>

    <div class="form-group mb-3">
      <label for="ville">Ville:</label>
      <input type="text" class="form-control" id="ville" value="{{int.Ville}}" readonly>
    </div>

    <div class="form-group mb-3">
      <label for="telephone">Téléphone:</label>
      <input type="text" class="form-control" id="telephone" value="{{int.Numéro}}" readonly>
    </div>

    <div class="form-group mb-3">
      <label for="commentaire">Commentaire:</label>
      <input type="text" class="form-control" id="commentaire" value="{{int.Commentaire}}" readonly>
    </div>
  </div>
</div>

        </div>

        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Technicien</h5>


                    <ul>
                      <li><strong>Nom de technicien :</strong> {{int.Par}}</li>
                      <br>
                      <li><strong>Ajouté par :</strong> {{int.Par}}</li>
                      <!-- Ajoutez d'autres détails ici si nécessaire -->
                    </ul>

              <!-- Accordion without outline borders -->
              <!-- Accordion without outline borders -->

            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title" style="width:100px">Maps</h5>

              <!-- Accordion without outline borders -->
              <!-- Accordion without outline borders -->
              <div class="accordion accordion-flush" >
              {{map|safe}}


              </div><!-- End Accordion without outline borders -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->

{% endblock content %}
