{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Solution 31</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->

  <link href="{% static 'Dashboard/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'Dashboard/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'Dashboard/assets/css/main.css' %}" rel="stylesheet" />

  <link href="{% static 'Dashboard/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'Dashboard/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'Dashboard/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'Dashboard/assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'Dashboard/assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'Dashboard/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'Dashboard/assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>


  <!-- Template Main CSS File -->
  <link href="{% static 'Dashboard/assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.4.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->

  <!-- ======= Sidebar ======= -->
  {% block content %}
  {% endblock content %}




  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'Dashboard/assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'Dashboard/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'Dashboard/assets/vendor/chart.js/chart.min.js' %}"></script>
  <script src="{% static 'Dashboard/assets/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'Dashboard/assets/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'Dashboard/assets/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'Dashboard/assets/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'Dashboard/assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <!-- Template Main JS File -->
  <script src="{% static 'Dashboard/assets/js/main.js' %}"></script>

</body>

</html>